.teamList {
    display: flex;
    gap: 30px;
}

.cardTeam {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-16);
    border: 3px solid var(--color-main);
    gap: 10px;
}

.teamCardImg {
    border-radius: 100%;
}

.teamCardTitle {
    font-size: var(--text-3);
    font-weight: var(--weigth-2);
    color: var(--color-main);
}

.teamCardFooter{
    display: flex;
    gap: 30px;
}