.button-primary {
    padding: 4px 24px;
    border-radius: var(--radius-16);
    color: var(--color-white);
    background-color: var(--color-main);
    border: 1px solid var(--color-white);
    font-size: 16px;
    font-weight: 600;
}

.button-white-purple {
    padding: 4px 24px;
    border-radius: var(--radius-16);
    color: var(--color-secondary);
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    font-size: 16px;
    font-weight: 600;
}

.button-purple {
    padding: 4px 24px;
    border-radius: var(--radius-16);
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-white);
    font-size: 16px;
    font-weight: 600;
}

.button-white-red {
    padding: 4px 24px;
    border-radius: var(--radius-16);
    color: var(--color-white);
    background-color: var(--color-red);
    border: 1px solid var(--color-white);
    font-size: 16px;
    font-weight: 600;
}